{# Informations à prendre directement depuis la base de donnée #}

<div class="gameCategory" id="imgGameCategory">
    <img id="imgGameCategory" src="https://th.bing.com/th/id/OIP.3UOhXt1r_k49dS8xn_NPuwHaEK?pid=ImgDet&rs=1" alt="">
</div>