{# Informations à prendre directement depuis la base de donnée #}

<div class="gameCategory" id="Mylist_opinion">
    <p> recommandations (positive/negative) </p>
        <button class="buttonGameCategory" type="submit">Ajouter à ma liste</button>
</div>
