<div class="gameCategory" id="searchBar">

<Input Class="Recherche-Input" Type="Search" Placeholder="Recherche" Aria-Label="Search">
<A Href="#" Class="Recherche-Icone">
<I Class="Fas Fa-Search"></I>
</A>

</div>
        