<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img class="nav__logo__a__img" src="/assets/images/pictures_game/logo_rbg.png" alt="logo de la société RBG"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul class="nav__menu__ul">
          <li class="nav__menu__ul__li"><a class="nav-link active nav__menu__ul__li__a" aria-current="page" href="/">Accueil</a></li>
          <li class="nav__menu__ul__li"><a class="nav-link nav__menu__ul__li__a" href='ListMyGames{{ selectUserByNickname.nickname }}'>Ma liste</a></li>
          <li class="nav__menu__ul__li"><a class="nav-link nav__menu__ul__li__a" href="login">Se connecter</a></li>
          <li class="nav__menu__ul__li nav__menu__ul__li--admin"><a class="nav-link nav__menu__ul__li__a" href="add">Administration</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>