<nav class="nav">
  <div class="nav__logo">
    <a href="/" class="nav__logo__a"><img class="nav__logo__a__img" src="/assets/images/pictures_game/logo_rbg.png" alt="logo RBG2"></a>
  </div>
  <div class="nav__menu">
    <div class="nav__menu__burgerButton"><img class="nav__menu__burgerButton__img" src="/assets/images/pictures_game/burgermenu.png" alt=""></div>
    <ul class="nav__menu__ul">
      <li class="nav__menu__ul__li"><a class="nav__menu__ul__li__a" href="">Se connecter</a></li>
      <li class="nav__menu__ul__li"><a class="nav__menu__ul__li__a" href="">Ma liste</a></li>
      <li class="nav__menu__ul__li nav__menu__ul__li--admin"><a class="nav__menu__ul__li__a" href="">Administration</a></li>
    </ul>
  </div>
</nav>