{% extends "layout.html.twig" %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}
{% block content %}
    <h1>Ajouter un jeu :</h1>

    <form action="" method="POST" enctype="multipart/form-data" class="form-control row">
        <label for="name">Titre du jeu :
            <input type="text" name="name" id="name" placeholder="Forza horizon 5" class="form-control">
        </label><br>
        <label for="release_date">Date de sortie :
            <input type="date" name="release_date" id="release_date" placeholder="09/11/2021" class="form-control">
        </label><br>
        <label for="description">
            <textarea name="description" id="description" cols="30" rows="5" placeholder="Les projets et valeurs de l'entreprise" class="form-control"></textarea><br>
        </label>
        <label for="picture">Image :
            <input type="file" name="picture" id="picture" >
        </label><br />
        <fieldset class="category">
            <legend>Veuillez choisir les catégories correspondantes au jeu :</legend>
            <div class="checkboxes">
                <label class="checkbox" for="category">action<input type="checkbox" name="category[]" id="category" value="1"></label>
                <label class="checkbox" for="category">aventure<input type="checkbox" name="category[]" id="category" value="2"></label>
                <label class="checkbox" for="category">simulation<input type="checkbox" name="category[]" id="category" value="3"></label>
                <label class="checkbox" for="category">strategie<input type="checkbox" name="category[]" id="category" value="4"></label>
                <label class="checkbox" for="category">RPG<input type="checkbox" name="category[]" id="category" value="5"></label>
                <label class="checkbox" for="category">sport/course<input type="checkbox" name="category[]" id="category" value="6"></label>
                <label class="checkbox" for="category">FPS<input type="checkbox" name="category[]" id="category" value="7"></label>
                <label class="checkbox" for="category">shooter<input type="checkbox" name="category[]" id="category" value="8"></label>
                <label class="checkbox" for="category">multiplayer<input type="checkbox" name="category[]" id="category" value="9"></label>
                <label class="checkbox" for="category">competitive<input type="checkbox" name="category[]" id="category" value="10"></label>
                <label class="checkbox" for="category">open world<input type="checkbox" name="category[]" id="category" value="11"></label>
                <label class="checkbox" for="category">sandbox<input type="checkbox" name="category[]" id="category" value="12"></label>
                <label class="checkbox" for="category">2D<input type="checkbox" name="category[]" id="category" value="13"></label>
                <label class="checkbox" for="category">superhero<input type="checkbox" name="category[]" id="category" value="14"></label>
                <label class="checkbox" for="category">dark<input type="checkbox" name="category[]" id="category" value="15"></label>
                <label class="checkbox" for="category">third person<input type="checkbox" name="category[]" id="category" value="16"></label>
                <label class="checkbox" for="category">military<input type="checkbox" name="category[]" id="category" value="17"></label>
                <label class="checkbox" for="category">racing<input type="checkbox" name="category[]" id="category" value="18"></label>
                <label class="checkbox" for="category">medieval<input type="checkbox" name="category[]" id="category" value="19"></label>
                <label class="checkbox" for="category">classic<input type="checkbox" name="category[]" id="category" value="20"></label>
                <label class="checkbox" for="category">MMORPG<input type="checkbox" name="category[]" id="category" value="21"></label>
                <label class="checkbox" for="category">fantasy<input type="checkbox" name="category[]" id="category" value="22"></label>
                <label class="checkbox" for="category">plateformer puzzle<input type="checkbox" name="category[]" id="category" value="23"></label>
                <label class="checkbox" for="category">tactical<input type="checkbox" name="category[]" id="category" value="24"></label>
            </div>
        </fieldset>
        <button class="btn btn-primary">Envoyer</button>
    </form>
{% endblock %}
