<div class="searchBar">

<form action="" method="POST">
	<input class="search-input" type="search" placeholder="Recherche une catégorie" aria-label="search">
	<a href="#" class="search-icon">
		<i class="fas-fa-search"></i>
	</a>
</form>
</div>
