{% extends 'layout.html.twig' %}


{% block stylesheet  %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/category.css">
{% endblock %}


{% block content %}

	<ul>
		<div class="titleCategory">
			<p>
				{{ genre.name }}
			</p>
		</div>

		{% include 'Category/_search_bar.html.twig' %}

		{% for gameInfo in gameInfos %}
			<li class="gameCategory">
				<a href='descriptionGame?id={{gameInfo.game_id}}'<div class="titleGame">
					<p>
						{{ gameInfo.name }}
					</p>
				</div>
				</a>

				<div class="categories">
					<p>
						Puzzle
					</p>
					<p>
						Action
					</p>
					<p>
						3D Plateformer
					</p>
				</div>

				<div class="imgGameCategory">
					<img src="https://th.bing.com/th/id/OIP.3UOhXt1r_k49dS8xn_NPuwHaEK?pid=ImgDet&rs=1" alt="">
				</div>

				<div class="Mylist_opinion">
					<p>
						recommandations (positive/negative)
					</p>
					<button class="buttonGameCategory" type="submit">Ajouter à ma liste</button>
				</div>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
