{% extends 'layout.html.twig' %}


{% block stylesheet  %}
	<link rel="stylesheet" href="/assets/css/category.css">
{% endblock %}


{% block content %}


	<ul>
		<div class="titleCategory">
			<p>
				{{ genre.genre_id }}
			</p>
		</div>

		<div class="searchBar">
			<Input class="Recherche-Input" type="Search" placeholder="Recherche" aria-label="Search">
			<A href="#" class="Recherche-Icone">
				<I class="Fas Fa-Search"></I>
			</A>
		</div>

		{% for genre in genres %}
			<li class="gameCategory">
				<div class="titleGame">
					<p>
						{{ genre.game_id }}
					</p>
				</div>


				<div class="categories">
					<p>
						Puzzle
					</p>
					<p>
						Action
					</p>
					<p>
						3D Plateformer
					</p>
				</div>

				<div class="imgGameCategory">
					<img src="https://th.bing.com/th/id/OIP.3UOhXt1r_k49dS8xn_NPuwHaEK?pid=ImgDet&rs=1" alt="">
				</div>

				<div class="Mylist_opinion">
					<p>
						recommandations (positive/negative)
					</p>
					<button class="buttonGameCategory" type="submit">Ajouter à ma liste</button>
				</div>
			</li>
		{% endfor %}
	</ul>


{% endblock %}
