.desktop {
  display: none;
}

body {
  margin: 0;
}

.wrapper {
  margin: 0;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.product-img {
  height: 12rem;
  width: 13rem;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 0.6rem;
}

.product-img img {
  border-radius: 10px;
  height: 8rem;
  width: 13rem;
}

.product-img img {
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  animation-name: boxShadow;
  animation-duration: 2.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.leftContent {
  flex-direction: column;
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.rightContent {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  width: 15rem;
  height: 13rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.body {
  display: flex;
  flex-direction: row;
  height: 9.5rem;
}

.product-text {
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.product-text h2 {
  margin-top: 0.4rem;
  margin-left: 2rem;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #242323;
  letter-spacing: 0.2em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
}

.product-price-btn {
  height: 7rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-price-btn button {
  display: flex;
  height: 1.8rem;
  width: 9rem;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #493fdb;
  cursor: pointer;
  outline: none;
  justify-content: center;
  align-items: center;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}

button.like {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 50%;
  color: rgb(11, 216, 4);
  background-color: rgba(12, 233, 42, 0.685);
  border-color: rgb(18, 212, 11);
  border-width: 1px;
  font-size: 15px;
  margin-bottom: 0.6rem;
}

button.dislike {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 0.6rem;
  border-radius: 50%;
  color: rgb(233, 6, 6);
  background-color: rgba(245, 24, 3, 0.3);
  border-color: rgb(245, 10, 10);
  border-width: 1px;
  font-size: 15px;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.tags {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 0.3rem;
}

.tags a {
  font-size: 0.8rem;
  color: #fff;
  display: flex;
  justify-content: center;
}

.tags__label {
  height: 2rem;
  width: 5.3rem;
  border: 1px solid black;
  padding: 0.3em;
  margin-left: 0.3em;
  border-radius: 5px;
  background-color: #493fdb;
}

.buttonlike {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonlike button {
  display: flex;
  justify-content: center;
}

.buttonlike p {
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separation {
  background-color: black;
  height: 0.1rem;
  width: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@keyframes boxShadow {
  0% {
    box-shadow: 1px 6px 6px 3px black;
  }

  100% {
    box-shadow: 1px 3px 3px 2px black;
  }
}
