@import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");

p {
  font-family: "Raleway", sans-serif;
}

.wrapper {
  margin: 0;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.product-img {
  height: 12rem;
  width: 13rem;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
}

.product-img img {
  border-radius: 10px;
  height: 8rem;
  width: 13rem;
}

.product-img img {
  animation: name duration timing-function delay iteration-count direction fill-mode;
  animation-name: boxShadow;
  animation-duration: 2.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.leftContent {
  flex-direction: column;
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.rightContent {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  width: 13rem;
  height: 13rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.body {
  display: flex;
  flex-direction: row;
}

.product-text {
  margin-right: 0.6rem;
  height: 5rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-text h1,
.product-price-btn p {
  font-family: "Bentham", serif;
}

.product-text h2 {
  margin-right: 1rem;
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #242323;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  box-shadow: inset 0px 0px 0px 1px black;
  font-weight: bold;
}

span {
  display: flex;
  height: 50px;
  font-family: "Suranna", serif;
  font-size: 34px;
}

.product-price-btn {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-price-btn button {
  display: flex;
  height: 1.8rem;
  width: 7rem;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #313333;
  cursor: pointer;
  outline: none;
  justify-content: center;
  align-items: center;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}

button.like{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgb(11, 216, 4);
	background-color:rgba(12, 233, 42, 0.685);
	border-color: rgb(18, 212, 11);
	border-width: 1px;
	font-size: 15px;
}

button.dislike{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgb(233, 6, 6);
	background-color: rgba(245, 24, 3, 0.3);
	border-color: rgb(245, 10, 10);
	border-width: 1px;
	font-size: 15px;
}

.buttonlike {
  display: flex;
  flex-direction: row;
}

.buttonlike button {
  display: flex;
  justify-content: center;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
}

.buttonlike p {
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.separation {
  background-color: black;
  height: 0.1rem;
  width: auto;
}

@keyframes boxShadow {
  0% {
    box-shadow: 1px 6px 6px 3px black;
  }

  100% {
    box-shadow: 1px 3px 3px 2px black;
  }
  
}
