p {
  font-size: 0.9rem;
  margin: 1rem;
  justify-content: space-evenly;
}

.commentaire {
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commentaire button {
  width: 5rem;
}

.temporary {
  font-size: 1rem;
  color: rgb(8, 8, 8);
  text-align: center;
  line-height: 40px;
  animation-name: example;
  animation-duration: 5s;
  visibility: hidden;
}

@keyframes example {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
