ol,
ul {
  padding-left: 0;
}

p {
  margin: 0;
}

.desktop {
  display: none;
}

.SearchBarMyGames {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #212529;
  border-top: 1px solid white;
}

.SearchBarMyGames div:nth-child(2) {
  margin: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0;
  justify-content: flex-start;
  align-items: center;
}

.dropdown button {
  background: #493fdb;
}

.SearchBarMyGames div:nth-child(2) div:nth-child(1) p {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

.dropdown {
  margin-right: 0;
}

.SearchBarMyGames button {
  max-height: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBarMyGames p:only-child {
  font-size: 1.5rem;
  color: rgb(3, 3, 3);
  border-radius: 5px;
}

.yourList {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: rgb(3, 3, 3);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.searchBar {
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.a-box {
  display: inline-block;
  width: 90%;
  text-align: center;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.img-container {
  height: 230px;
  width: 330px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
  animation-name: rotateIMG;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container img {
  height: 250px;
  width: 100%;
  margin: -35px 0px 0px 0px;
}

.inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 100%;
  box-shadow: 1px 1px 5px 2px black;
}

.text-container {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: url(https://cdn.pixabay.com/photo/2017/07/31/21/42/wallpaper-2561368_960_720.jpg);
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0.4rem;
}

.text-container div p:nth-child(1) {
  background-color: green;
  color: aliceblue;
  font-size: 0.8rem;
  border-radius: 5px;
}

.text-container div p:nth-child(2) {
  background-color: red;
  color: aliceblue;
  font-size: 0.8rem;
  border-radius: 5px;
}

.text-container h3 {
  margin: 5px 0px 10px 0px;
  color: #111111;
  font-size: 18px;
}

@keyframes rotateIMG {
  0% {
    transform: skew(0deg, -3deg);
    opacity: 0.9;
  }

  50% {
    transform: skewY(0deg);
    opacity: 1;
  }

  100% {
    transform: skew(0deg, 3deg);
    opacity: 0.9;
  }
}

.tags {
  margin-top: 1rem;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.tags a {
  font-size: 0.8rem;
  color: #fff;
}

.tags__label {
  height: 2rem;
  width: 7.5rem;
  border: 1px solid black;
  padding: 0.5em;
  margin-left: 0.5em;
  border-radius: 5px;
  background-color: #493fdb;
}

.tags__label input {
  display: none;
}

@media screen and (min-width: 976px) {
  .mobile {
    display: none;
  }

  .desktop {
    margin: 2rem;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  .image {
    display: flex;
    margin-top: 30px;
    transition: all 0.8s;
    flex-flow: row wrap;
    flex-direction: row;
    animation-name: rotateIMG;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: ease-in-out;
  }

  .image:nth-of-type(even) {
    margin-top: 150px;
  }

  .tags__label:hover {
    box-shadow: inset 0px 0px 3px 4px white;
  }

  .image:hover {
    animation-name: transformscale;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transition: ease-in-out;
  }

  .image:hover figcaption {
    transform: scale(1.1);
    opacity: 1;
    transition: opacity 0.8s;
  }

  figure {
    color: #282828;
    margin-bottom: 30px;
  }

  .imgMyGame {
    border: 1px solid grey;
    width: 25rem;
    height: 18rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px black;
  }

  figcaption {
    opacity: 0;
    text-align: center;
  }

  span {
    font-style: italic;
    font-size: 15px;
  }
  span:before {
    content: " - ";
  }

  a {
    text-decoration: none;
    color: #52618d;
  }

  @keyframes transformscale {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  @keyframes rotateIMG {
    0% {
      transform: skewY(-3deg);
      opacity: 0.9;
    }

    50% {
      transform: skewY(0deg);
      opacity: 1;
    }

    100% {
      transform: skewY(3deg);
      opacity: 0.9;
    }
  }
}
