.form-profil{
    margin: auto;
}


@media screen and (min-width: 992px) {
    
    .avatar{
        width: 30rem;
    }
    
    .form-profil{
        width: 70rem;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }

    .profil{
        width: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .validateProfil{
        align-self: flex-end;
    }
}
