.form-profile {
    margin: auto;
}

@media screen and (min-width: 992px) {
    
    .avatar {
        width: 30rem;
    }
    
    .form-profile {
        width: 70rem;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }

    .profile {
        width: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .validateProfile {
        align-self: flex-end;
    }
}
