@import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");

.trending {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-top: 0.8rem;
  width: 180px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzrARh3_RoCR_9hSM7_rBPYDUVV207DulJ0A&usqp=CAU);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.skewed {
  width: 100%;
  height: 60%;
  transform: skewY(8deg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.skewed img {
  margin-top: 1.5rem;
  width: 100%;
  height: 90%;
  background-size: cover;
  background-position: center;
  align-items: center;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  animation-name: rotateIMG;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: ease-in-out;
  box-shadow: 1px 1px 1px 3px wheat;
}

.content {
  width: 90%;
  height: 50%;
  padding: 10px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content h2 {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.content button {
  color: #fffafa;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 10px;
  background: none;
  border: 3px solid #fffdfd;
  transition: all 0.3s ease;
}

.content button:hover {
  color: #e2e2e2;
  border: 3px solid #e2e2e2;
  cursor: pointer;
}

.title {
  width: 250px;
  height: 40px;
  left: calc(50% - 284px / 2);
  top: calc(50% - 96px);
  display: flex;
  justify-content: center;
  letter-spacing: -2px;
  border: 1px solid black;
  box-shadow: inset 0px 0px 2px 2px black;

  background: -moz-linear-gradient(
    127deg,
    rgb(46, 47, 48) 0%,
    rgb(65, 66, 68) 100%
  );
  background: -webkit-linear-gradient(
    127deg,
    rgb(53, 55, 56) 0%,
    rgb(66, 66, 68) 100%
  );
  background: linear-gradient(127deg, rgb(51, 52, 53) 0%, rgb(60, 61, 61) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#48c6ef",endColorstr="#6f86d6",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 1s ease-out 0s 1 slide;
}

.title h1 {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes rotateIMG {
  0% {
    transform: skewY(-5deg);
    opacity: 0.6;
  }

  50% {
    transform: skewY(-0deg);
    opacity: 0.8;
  }

  100% {
    transform: skewY(5deg);
    opacity: 0.6;
  }
}
