body {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.trending {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    box-shadow: -10px 15px 15px 5px rgba(67, 67, 107, 0.25);  
}

h1 {
    text-align: center;
    color: darkslategray;
}

.trending img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    box-shadow: 0px 0px 20px 12px rgba(50, 50, 93, 0.25);
}

.cards {
    color: lime ;
    text-align: center;
    text-shadow: 0px 0px 5px white;
    margin-bottom: 60px;
}

.cards img {
    border-radius: 20%;
    height: 100px;
    width: 150px;
    box-shadow: black 0px 1px 4px, rgb(12, 12, 12) 0px 0px 0px 3px;
    background-color: black;
}
