@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
           url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
   }
   

body {
    background: url(https://cdn.pixabay.com/photo/2017/07/31/21/42/wallpaper-2561368_960_720.jpg);
    background-size: cover;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NeomatrixCodeRegular';
}

a {
 text-decoration: none;
}

.navbar {
    z-index: 2;
    position: sticky;
    top: 0;
}

.nav__logo {
    width: 6rem;
}

.nav__menu__ul__li {
    list-style-type: none;
    text-align: center;
}

.nav__menu__ul__li__a {
    text-decoration: none;
}

.nav__logo__a__img {
    width: 8rem;
    border-radius: 20px 20px;
}

.nav__menu__ul__li--admin {
    display:none;
}

.userPseudo {
    display: flex;
    justify-content: center;
}

.userPseudo__avatar {
    width: 4rem;
    margin-left: 1em;
}

@media screen and (min-width: 992px) {

    .nav__logo__a__img {
        width: 8rem;
    }

    .navbar-nav, .nav__menu__ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
}
