.trending {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  height: 22rem;
  width: 100%;
  background-color: #212529;
  border-top: 1px solid white;
}

.card {
  margin-top: 0.8rem;
  width: 180px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFo8gcxoIl_d8mG_LlOMJM1uEoZa5-wBCyBA&usqp=CAU);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 5px 1px black;
}

.gap-3 {
  gap: 1.5rem !important;
}

.skewed {
  width: 90%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.skewed img {
  margin-top: 0.6rem;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  align-items: center;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  animation-name: rotateIMG;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: ease-in-out;
  box-shadow: 1px 1px 5px 1px rgb(8, 8, 8);
}

.content {
  width: 100%;
  height: 50%;
  padding: 10px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content h2 {
  font-size: 1.1rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.content button {
  color: #f2f0f5;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
  padding: 10px;
  background: none;
  border: 3px solid #2e068b;
  transition: all 0.3s ease;
  background-color: #493fdb;
}

.title {
  margin-bottom: 2rem;
  width: 100%;
  height: 40px;
  left: calc(50% - 284px / 2);
  top: calc(50% - 96px);
  display: flex;
  justify-content: center;
  letter-spacing: -2px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: -moz-linear-gradient(
    127deg,
    rgb(46, 47, 48) 0%,
    rgb(65, 66, 68) 100%
  );
  background: -webkit-linear-gradient(
    127deg,
    rgb(53, 55, 56) 0%,
    rgb(66, 66, 68) 100%
  );
  background: linear-gradient(127deg, rgb(51, 52, 53) 0%, rgb(60, 61, 61) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#48c6ef",endColorstr="#6f86d6",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 1s ease-out 0s 1 slide;
}

.title h1 {
  margin-top: 0.5rem;
  font-size: 25px;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1Tendance {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.trending h1 {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: #f2f0f5;
  display: flex;
  align-items: flex-start;
}

.trending img {
  width: 100%;
}

.carrousel {
  perspective: 400px;
  width: 150px;
  height: 150px;
  top: 50px;
  left: 50px;
  margin: 0 auto;
}

.carrouselCard {
  margin-right: 5rem;
  width: 18rem;
  height: 10rem;
  background-color: #442222;
  font-size: 40px;
  opacity: 0;
  position: absolute;
  top: 30px;
  left: -50px;
  border: solid rgb(255, 252, 252) 2px;
  border-radius: 8px;
  text-align: center;
  animation-name: carrousel;

  animation-duration: 18s;

  animation-iteration-count: infinite;

  animation-timing-function: linear;
}

.carrouselCard img {
  width: 100%;
  height: 10rem;
}

.carrouselCard:hover {
  border: solid #4466cc 3px;
  box-shadow: 0px 0px 10px #4466cc;
}

.carrousel div:nth-child(3) {
  animation-delay: -15s;
}
.carrousel div:nth-child(2) {
  animation-delay: -7s;
}
.carrousel div:nth-child(1) {
  animation-delay: -1s;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes rotateIMG {
  0% {
    transform: skewY(-3deg);
    opacity: 0.9;
  }

  50% {
    transform: skewY(0deg);
    opacity: 1;
  }

  100% {
    transform: skewY(3deg);
    opacity: 0.9;
  }
}

@keyframes carrousel {
  from {
    transform: rotateY(300deg) translateZ(80px) rotateY(-300deg);
    z-index: -10;
    opacity: 1;
    filter: blur(4px);
  }
  50% {
    z-index: -10;
    opacity: 0.9;
    filter: blur(0px);
  }
  to {
    transform: rotateY(-60deg) translateZ(80px) rotateY(60deg);
    z-index: 10;
    opacity: 1;
  }
}

@media screen and (min-width: 976px) {
  .carrouselCard {
    margin-right: 5rem;
    width: 22rem;
    height: 12rem;
  }

  .carrouselCard img {
    width: 100%;
    height: 11.8rem;
  }

  .carrousel {
    perspective: 250px;
    width: 200px;
    height: 150px;
  }

  .title h1 {
    font-size: 2rem;
  }

  .trending h1 {
    font-size: 2rem;
  }

  .card {
    margin-top: 0.8rem;
    width: 300px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFo8gcxoIl_d8mG_LlOMJM1uEoZa5-wBCyBA&usqp=CAU);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 5px 1px black;
  }

  .gap-3 {
    gap: 3rem !important;
  }
  .skewed {
    margin-top: 0.5rem;
  }

  .content h2 {
    font-size: 1.4rem;
  }

  .content a {
    display: flex;
    justify-content: center;
  }

  .content button {
    font-size: 0.8rem;
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .content button:hover {
    box-shadow: inset 0px 0px 3px 4px white;
  }
}
