<div class="searchBar">
	<form action="" method="POST">
		<input class="search-input" type="search" placeholder="Recherche un jeu" aria-label="search" name="search">
		<input type="submit" value="Rechercher">
	</form>
</div>